.Avatar {
    border-radius: 50%;
    margin: 0px 8px 0px 8px;
    object-fit: cover;

}

.Border {
    border: 3px solid #ffffff;
}


@media (max-width: 468px) {
    .Avatar {
        height: 45px !important;
        width: 45px !important;
    }
}