/* Remove width: 100% from container classes */
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    width: auto !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

.Active {
    color: #fc7fb6 !important;
    text-decoration: white !important;
    /* Change the color to your desired active color */
}


.BottomNavBar {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    /* Ensure padding is included in width */
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    transition: transform 0.3s ease;
}

.ProfileImageContainer {
    width: 80px;
    height: 80px;
}

.ProfileImage {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* Makes the image round */
}

.NavLinkContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    /* Center items vertically */
}

.IconText {
    margin-top: 1px;
}

.Show {
    transform: translateY(0);
    /* Move the navigation bar to its original position */
}

/* Class to hide the navigation bar */
.Hide {
    transform: translateY(100%);
    /* Move the navigation bar below the viewport */
}

@media (max-width: 920px) {
    .IconText {
        font-size: 12px;
        /* Adjust the font size for smaller screens */
    }
}

@media (min-width: 576px) {


    .HideSignOut {
        display: none;
    }
}


@media (min-width: 425px) {
    .IconText {
        font-size: 10px;
        /* Adjust the font size for smaller screens */
    }


}


@media (max-width: 392px) {
    .IconText {
        font-size: 11px;
        /* Adjust the font size for smaller screens */
    }
}


@media (max-width: 378px) {
    .IconText {
        font-size: 10px;
        /* Adjust the font size for smaller screens */
    }
}

@media (max-width: 365px) {
    .IconText {
        font-size: 8px;
        /* Adjust the font size for smaller screens */
    }

    .HideText {
        display: none;
    }
}


@media (max-width: 330px) {
    .IconText {
        font-size: 10px;
        display: none;
        /* Adjust the font size for smaller screens */
    }
}

@media (max-width: 300px) {
    .IconText {
        font-size: 5px;
        display: none;
        /* Adjust the font size for smaller screens */
    }
}