.jobEndBox {
    width: 200px;
    height: 28px;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 4px;
    padding-left: 16px;
}

.Button {
    border: 1px solid fc7fb6 !important;
    height: 35px;
    width: 35px;

}

.ArrowDown {
    margin-top: 4px;
    position: relative;
    cursor: pointer;

}

.ArrowUp {
    margin-top: 4px;
    position: relative;
    cursor: pointer;
    bottom: -3px;
}

.jobEnd {
    font-weight: bold;
}


.ActiveTick {
    color: #41EAD4;
    font-weight: bold;

}

.ActiveCross {
    color: #F34213;
    font-weight: bold;
}

.Pointer {
    cursor: pointer;
}


.ListingClosed {
    /* background-color: #FBFF12; */
    color: black;
    /* Text color */
    padding: 5px 10px;
    /* Padding around the text */
    border-radius: 5px;
    /* Rounded corners */
    font-weight: bold;
    /* Bold text */
}


@media (max-width: 500px) {

    .jobCardBody {
        padding: 10px;
    }

    .jobTitle {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .jobDescription {
        font-size: 0.75rem;
        margin-top: 8px;

    }

    .jobLocation {
        font-size: 0.7rem;
        margin-top: 8px;

    }

    .jobSalary {
        font-size: 0.7rem;
        margin-top: 8px;

    }

    .jobCreated {
        font-size: 0.75rem;
        margin-top: 8px;

    }

    .jobEnd {
        font-size: 0.75rem;


    }

    .ListingClosed {
        font-size: 0.75rem;
    }

    .ActiveTick {
        margin-top: 6px;

    }

    .ActiveCross {
        margin-top: 6px;
    }


    /* Remove width: 100% from container classes */
    .Container,
    .Container-fluid,
    .Container-lg,
    .Container-md,
    .Container-sm,
    .Container-xl {
        width: auto !important;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;

    }
}

@media (max-width: 458px) {

    .jobCardBody {
        padding: 10px;
    }

    .jobTitle {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .jobDescription {
        font-size: 0.75rem;
        margin-top: 8px;

    }

    .jobLocation {
        font-size: 0.7rem;
        margin-top: 8px;

    }

    .jobSalary {
        font-size: 0.7rem;
        margin-top: 8px;

    }

    .jobCreated {
        font-size: 0.75rem;
        margin-top: 8px;

    }


    .jobEnd {
        font-size: 0.75rem;
        margin-left: auto;
        margin-right: auto;

    }

    .ListingClosed {
        font-size: 0.65rem;
    }

    .jobEndBox {
        width: 220px;
        height: 40px;
        background-color: #f0f0f0;
        border-radius: 5px;
        padding: 4px;
        padding-left: 16px;
        word-break: break-all;
    }



}

@media (max-width: 380px) {

    .jobCardBody {
        padding: 10px;
    }

    .jobTitle {
        font-size: 18px;
        margin-bottom: 8px;
        word-break: break-all;
    }

    .jobDescription {
        font-size: 0.65rem;
        margin-top: 8px;

    }

    .jobLocation {
        font-size: 0.rem;
        margin-top: 8px;

    }

    .jobSalary {
        font-size: 0.6rem;
        margin-top: 8px;

    }

    .jobCreated {
        font-size: 0.65rem;
        margin-top: 8px;

    }

    .jobEnd {
        font-size: 0.65rem;
        margin-left: auto;
        margin-right: auto;

    }

    .ListingClosed {
        font-size: 0.55rem;
    }

    .jobEndBox {
        width: 220px;
        height: 60px;
        background-color: #f0f0f0;
        border-radius: 5px;
        padding: 6px;
        padding-left: 16px;
        margin-top: 5px;
        word-break: break-all;
        margin-right: 0px !important;
    }





}