.JobPost {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
}

.JobPostBody {
    background-color: #fc7fb6;
}

.Heart {
    color: #fc7fb6;
}

.Heart:hover {
    color: #ca417f;
}

.HeartOutline:hover {
    color: #fc7fb6;
}

.HeartSize {
    font-size: 19px;
    color: #ca417f;
}

.Background {
    background-color: #fc7fb6;
}

.Tooltip {
    background-color: #fc7fb6;
    width: 100%;
}