.triangleGradient {
    position: relative;
}

.Pointer {
    cursor: pointer;
}

.triangleGradient::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100px 100px 0;
    border-color: transparent #fc7fb6 transparent transparent;
}

h1 {
    font-size: 24px;
    font-weight: 300;
}

h2 {
    font-size: 16px;
    font-weight: 500;
}

.defaultImage {
    width: 50vw;
}

.customUl {
    text-align: left;
}

.minHeightContent {
    min-height: 60vh;
}

.ClearDropSort {
    position: relative;
    font-size: 15px;
    font-weight: 800;
    background-color: none !important;
    border: none !important;


}

.ClearDropSort::after {
    content: '';
    /* Ensures the ::after pseudo-element is visible */
    position: absolute !important;
    top: 50%;
    right: 0;
    transform: translateY(-50%) !important;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    /* Adjust the size of the caret */
    border-color: transparent transparent transparent transparent;
    pointer-events: none;
}

.ClearDrop {
    position: relative;
    font-size: 15px;
    font-weight: 800;
    background-color: #fc7fb6 !important;

    color: #ffff !important;
}

.ClearDrop::after {
    content: '';
    /* Ensures the ::after pseudo-element is visible */
    position: absolute !important;
    top: 50%;
    right: 0;
    transform: translateY(-50%) !important;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    /* Adjust the size of the caret */
    border-color: transparent transparent transparent transparent;
    pointer-events: none;
}

@media (max-width: 576px) {
    .jobCard {
        margin-bottom: 10px;
    }

    .jobCardBody {
        padding: 10px;
    }

    .jobTitle {
        font-size: 18px;
    }

    .jobDescription {
        font-size: 14px;
    }

    /* Remove width: 100% from container classes */
    .Container,
    .Container-fluid,
    .Container-lg,
    .Container-md,
    .Container-sm,
    .Container-xl {
        width: auto !important;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;

    }

    .Col,
    .Col-lg-8,
    .Col-md-12 {
        padding: 0 !important;

    }

}

@media (max-width: 400px) {
    h2 {
        font-size: 14px;
    }

}