.Active {
    color: #fc7fb6 !important;


    /* Change the color to your desired active color */
}


.customButton {
    border-color: #fc7fb6 !important;
    background-color: #fc7fb6 !important;
    color: white !important;
}


/* Increase specificity to override Bootstrap styles */
Button {
    border-color: #fc7fb6 !important;
    background-color: white !important;
    color: #fc7fb6 !important;
    box-shadow: none !important;

}


Button:hover {
    border-color: #fc7fb6 !important;
    background-color: #fc7fb6 !important;
    box-shadow: none !important;
    color: white !important;
    transition: 0.2s;
}

.NavText {
    font-size: 12px;
}

.Pointer {
    cursor: pointer;
}

.NavHeight {
    height: 80px;
}

Nav.Link {
    text-decoration: none;
}

.spinner {
    width: 25px;
    height: 25px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top-color: #fc7fb6;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Styles for the navigation bar */
.NavHeight {
    height: 60px;
    /* Example height */
}

.BottomNavBar {
    background-color: white;
    /* Example background color */
    border-top: 1px solid #ccc;
    /* Example border */
    transition: transform 0.3s ease;
    /* Example transition effect */
}

/* Class to show the navigation bar */
.Show {
    transform: translateY(0);
    /* Move the navigation bar to its original position */
}

/* Class to hide the navigation bar */
.Hide {
    transform: translateY(100%);
    /* Move the navigation bar below the viewport */
}