h1 {
    font-size: 18px !important;
    margin-top: 0px !important;
    padding: 0px !important;
}

h2 {
    font-size: 14px !important;
    margin-top: 0px !important;
    padding: 0px !important;
}

.Icon {
    font-size: 15px;
    font-weight: 800;
}

.Background {
    /* background-color: rgba(127, 160, 252, 0.1); */

    font-weight: 800;
}

.Background:hover {
    /* background-color: rgba(127, 160, 252, 0.2); */
    cursor: pointer;
    font-weight: 800;
    background-color: #f8f9fa;
}

.Badge {
    background-color: #fc7fb6;
    color: white;
}

.ButtonSize {
    width: 49;
}


.Image {
    max-width: 100%;
}

.transitionEnd {
    transition: 1.5s ease-in-out;
    justify-content: flex-end;

}

.transitionStart {
    transition: 1.5s ease-in-out;
    justify-content: flex-start;
}

@media (max-width: 767px) {
    .buttonSize {
        margin-top: 4px;
        margin-right: -35px;
    }

}

@media (max-width: 484px) {
    .Badge {
        font-size: 10px !important;
    }

    .textSize {
        font-size: 13px;
    }

    h2 {
        font-size: 10px;
    }

}