.App {
    font-family: 'DM Sans';
    background-color: #f8f8f8;
    min-height: 100vh;

}

.Content {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px !important;
    border: 1px solid #dadadf;

}

.Background {
    background-color: #fc7fb6;
    color: #ffffff;
}

.contentNone {
    background-color: transparent;
    border: none;
}

.Button {
    text-decoration: none !important;
}

.Button:hover {
    text-decoration: none !important;
}

.Button:active {
    text-decoration: none !important;
}

.Main {
    padding: 25px;

}

* {
    box-sizing: border-box;
    text-decoration: none !important;
}


.verticalLine {
    border-left: 1px solid grey;
    height: 30px;
    margin: 0 10px;
}

.FillerImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

input[type="file"] {
    display: none;
}

.myPointer {
    cursor: pointer;
}

/* scrollbar */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background: #d4d4d4;
}

*::-webkit-scrollbar-thumb:hover {
    background: #cfcece;
}