.App {
    font-family: 'DM Sans';
    background-color: #f8f8f8;
    min-height: 100vh;
}

.Main {
    padding-top: 80px;
}

.verticalLine {
    border-left: 1px solid grey;
    height: 30px;
    margin: 0 10px;
}